.grid-dad{
    width: 100%;
    height: 100%;
    padding: 3em;
    display: grid;
    /* gap: 1rem; */
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(auto-fill, minmax(22rem,1fr));
    background-color: black;
}
.grid-son{
    margin: 1em;
    border: 1px solid black;
    position: relative;
}
.grid-son img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 0;
    object-fit: cover;
}

.grid-dad article div{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}
.grid-dad article div:hover{
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    
}